VITE_API_BASE_URL=http://localhost:8100/api

# GoHighLevel Webhooks
VITE_GHL_WEBHOOK_CONTACT=https://services.leadconnectorhq.com/hooks/FJiKT3Tu4PoiQ7G3slal/webhook-trigger/0c36bf5b-08ec-4d92-8fdd-49e1944de4c5
VITE_GHL_WEBHOOK_OPPORTUNITY=https://services.leadconnectorhq.com/hooks/PENDIENTE/webhook-trigger/PENDIENTE
